* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  background: #eeeeef;
  color: #333;
}

a {
  color: inherit;
  color: #2980B9;
  font-weight: 300;
}
a:hover {
  color: #000;
}
strong {
  font-weight: 400;
}

.credits {
  font-weight: 300;
  font-size: 0.9em;
}
.credits a {
  font-weight: 400;
}

.app {
  width: 100vw;
  min-height: 100vh;
}

.app-header {
  padding: 2rem 2rem 0;
}

.app-title {
  font-size: 2em;
}

.social-share {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}
.social-share iframe {
  margin-left: 0.5rem;
}

.dropzone {
  cursor: pointer;
  margin-top: 1rem;
  outline: 2px dashed rgba(0,0,0,.25);
  display: inline-block;
  padding: 1rem 2rem;
  background: rgba(255,255,255,0.1);
}
.dropzone:hover {
  outline: 2px dashed rgba(0,0,0,.4);
  background: rgba(255,255,255,0.15);
}

.padding-2 {
  padding: 2rem;
}

.column {
  width: 40vmin;
  margin: 5vmin 2.5vmin 0;
  display: inline-block;
}

.demo-image-comparison {
  text-align: center;
  margin-top: 2rem;
}

.demo-image-container {
  width: 40vmin;
  height: 40vmin;
  position: relative;
  transition: border-radius 0.3s, transform 1s;
  box-shadow: rgba(0,0,0,.05) 0 1px 0, rgba(0,0,0,.05) 0 2px 8px;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-image-container.-first::before {
  content: 'Element Center';
  display: block;
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center;
}

.-use-circle .demo-image-container {
  border-radius: 50vmin;
}

.demo-image-container-title {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.app-control-container {
  padding: 1.5rem 0 0;
}
.app-control {
  user-select: none;
  -webkit-user-select: none;
  padding: 0.25rem 1rem;
  display: inline-block;
}

.app-control input {
  margin-right: 0.5em;
}

.app-control input, .app-control div {
  vertical-align: middle;
  display: inline-block;
}

.results {
  font-weight: 300;
  font-size: 1.333em;
  line-height: 1.4;
}

/* options */
.-show-guides .demo-image-container::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
}
.-show-guides .demo-image-container::after {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
}

.demo-image {
  display: block;
  width: 25vmin;
  height: auto;
  z-index: 2;
}

.demo-image:hover {
  outline: 1px dashed #f00;
}

@media screen and (max-width: 640px) {
  .app {
    padding-top: 1rem;
  }
}
